﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="join2.aspx.cs" Inherits="Statnco.Web.Main.join2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약관동의</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/join2.js"></script>
    <style type="text/css">
        .btn_green{background-color:#009f59 !important;}
        select{
            color:black !important;
        }
        .mt_30{
            margin-top:30px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" defaultbutton="btnNull">
       <div style="display:none"><asp:Button ID="btnNull" runat="server"  OnClientClick="return false;" /></div> 
        <asp:HiddenField ID="isChild" runat="server" />
        <asp:HiddenField ID="hidClubIdx" runat="server" />
        <asp:HiddenField ID="hidName" runat="server" />
        <asp:HiddenField ID="hidBirth" runat="server" />
        <asp:HiddenField ID="hidGender" runat="server" />
        <asp:HiddenField ID="hidDI" runat="server" />
        <asp:HiddenField ID="hidDICheckDB" runat="server" />
        <asp:HiddenField ID="hidPhone" runat="server" />
       <section class="agree_wrap">
        <!-- header -->
        <section class="agree_hd" ">
            <a class="main_logo" href="/index.aspx">
                <svg class="rk_logo" viewBox="0 0 82 42" fill="none">
                    <g clip-path="url(#clip0_64_21)">
                    <path d="M41.8013 0V4.15688H53.3591L54.5883 5.81543H41.8013V9.96811H54.5128L58.8381 15.8633L58.792 0H41.8013Z" fill="#009F59"/>
                    <path d="M23.1619 0V4.15688H34.7113L35.9699 5.85742H23.1619V15.9179H37.2369L40.1484 19.8732V11.7652H28.666L27.3571 10.0143H40.1484V0H23.1619Z" fill="#009F59"/>
                    <path d="M7.39619 34.0108H0V30.8953H7.39619C8.32525 30.8808 9.222 31.2363 9.88917 31.8836C10.5563 32.5308 10.9393 33.4169 10.9537 34.3467C10.9682 35.2766 10.613 36.1741 9.9663 36.8419C9.31958 37.5096 8.43433 37.8929 7.50527 37.9074L11.3942 41.8039H7.00603L3.11286 37.9074V41.8039H0V34.7918H7.39619C7.49966 34.7918 7.59891 34.7507 7.67208 34.6774C7.74524 34.6042 7.78635 34.5049 7.78635 34.4013C7.78635 34.2977 7.74524 34.1984 7.67208 34.1252C7.59891 34.052 7.49966 34.0108 7.39619 34.0108Z" fill="#009F59"/>
                    <path d="M17.3179 41.8039C16.0561 41.8044 14.8332 41.3669 13.8576 40.5661C12.8819 39.7653 12.2139 38.6507 11.9673 37.4121C11.7207 36.1736 11.9108 34.8878 12.5053 33.7738C13.0997 32.6599 14.0617 31.7867 15.2273 31.303C16.3929 30.8194 17.6899 30.7552 18.8975 31.1214C20.1051 31.4877 21.1484 32.2617 21.8497 33.3115C22.5511 34.3614 22.867 35.6221 22.7436 36.8789C22.6203 38.1358 22.0653 39.3109 21.1734 40.2042C20.6742 40.7205 20.0745 41.129 19.4114 41.4041C18.7482 41.6793 18.0357 41.8154 17.3179 41.8039ZM17.3179 38.6842C17.8587 38.6849 18.383 38.4978 18.8014 38.1549C19.2198 37.812 19.5064 37.3344 19.6124 36.8037C19.7184 36.2729 19.6371 35.7218 19.3825 35.2443C19.1279 34.7668 18.7157 34.3924 18.2162 34.1851C17.7167 33.9777 17.1607 33.9502 16.6432 34.1072C16.1257 34.2642 15.6786 34.5959 15.3781 35.0459C15.0776 35.496 14.9424 36.0364 14.9955 36.575C15.0486 37.1136 15.2867 37.6172 15.6692 37.9998C15.8828 38.2204 16.1393 38.395 16.4228 38.5127C16.7064 38.6304 17.011 38.6888 17.3179 38.6842Z" fill="#009F59"/>
                    <path d="M31.4181 41.8039L28.515 36.7653L25.6119 41.8039H22.0124L28.515 30.5384L35.0134 41.8039H31.4181Z" fill="#009F59"/>
                    <path d="M41.9901 36.7401H45.1197C45.0201 38.1147 44.4047 39.4007 43.397 40.34C42.3893 41.2793 41.0639 41.8022 39.6869 41.8039C38.6244 41.8053 37.5845 41.4961 36.6952 40.9142C35.8059 40.3322 35.1057 39.503 34.6808 38.5283C34.2559 37.5536 34.1248 36.4759 34.3034 35.4276C34.4821 34.3792 34.9628 33.406 35.6865 32.6274C36.4103 31.8488 37.3455 31.2987 38.3773 31.0448C39.4091 30.7908 40.4925 30.8441 41.4944 31.198C42.4964 31.5519 43.3733 32.191 44.0173 33.0368C44.6614 33.8826 45.0445 34.8983 45.1197 35.9591H41.9901C41.9158 35.4788 41.6858 35.0362 41.3356 34.6994C41.1188 34.4827 40.8615 34.3109 40.5784 34.1937C40.2952 34.0765 39.9918 34.0163 39.6854 34.0165C39.379 34.0167 39.0756 34.0773 38.7927 34.1949C38.5097 34.3124 38.2526 34.4846 38.0361 34.7015C37.8195 34.9185 37.6478 35.176 37.5308 35.4594C37.4137 35.7428 37.3535 36.0465 37.3537 36.3532C37.3539 36.6598 37.4145 36.9635 37.5319 37.2467C37.6493 37.5299 37.8214 37.7872 38.0381 38.0039C38.2544 38.221 38.5114 38.3933 38.7943 38.5108C39.0772 38.6283 39.3806 38.6888 39.6869 38.6888C39.9932 38.6888 40.2965 38.6283 40.5794 38.5108C40.8623 38.3933 41.1193 38.221 41.3356 38.0039C41.6874 37.6667 41.9176 37.2222 41.9901 36.7401Z" fill="#009F59"/>
                    <path d="M49.5624 37.9074V41.8039H46.4496V30.8869H49.5624V34.7834L53.4556 30.8869H57.8438L52.39 36.3454L57.8438 41.8039H53.4556L49.5624 37.9074Z" fill="#009F59"/>
                    <path d="M69.5443 34.0108H58.6367V30.8953H69.5443V34.0108ZM69.5443 37.9074H58.6367V34.7918H69.5443V37.9074ZM69.5443 41.8039H58.6367V38.6842H69.5443V41.8039Z" fill="#009F59"/>
                    <path d="M78.1068 34.0108V41.8039H74.9939V34.0108H71.1008V30.8953H82.0084V34.0108H78.1068Z" fill="#009F59"/>
                    </g>
                    <g clip-path="url(#clip1_64_21)">
                    <path d="M41.8013 0V4.15688H53.3591L54.5883 5.81543H41.8013V9.96811H54.5128L58.8381 15.8633L58.792 0H41.8013Z" fill="#009F59"/>
                    <path d="M23.1619 0V4.15688H34.7113L35.9699 5.85742H23.1619V15.9179H37.2369L40.1484 19.8732V11.7652H28.666L27.3571 10.0143H40.1484V0H23.1619Z" fill="#009F59"/>
                    <path d="M7.39619 34.0108H0V30.8953H7.39619C8.32525 30.8808 9.222 31.2363 9.88917 31.8836C10.5563 32.5308 10.9393 33.4169 10.9537 34.3467C10.9682 35.2766 10.613 36.1741 9.9663 36.8419C9.31958 37.5096 8.43433 37.8929 7.50527 37.9074L11.3942 41.8039H7.00603L3.11286 37.9074V41.8039H0V34.7918H7.39619C7.49966 34.7918 7.59891 34.7507 7.67208 34.6774C7.74524 34.6042 7.78635 34.5049 7.78635 34.4013C7.78635 34.2977 7.74524 34.1984 7.67208 34.1252C7.59891 34.052 7.49966 34.0108 7.39619 34.0108Z" fill="#009F59"/>
                    <path d="M17.3179 41.8039C16.0561 41.8044 14.8332 41.3669 13.8576 40.5661C12.8819 39.7653 12.2139 38.6507 11.9673 37.4121C11.7207 36.1736 11.9108 34.8878 12.5053 33.7738C13.0997 32.6599 14.0617 31.7867 15.2273 31.303C16.3929 30.8194 17.6899 30.7552 18.8975 31.1214C20.1051 31.4877 21.1484 32.2617 21.8497 33.3115C22.5511 34.3614 22.867 35.6221 22.7436 36.8789C22.6203 38.1358 22.0653 39.3109 21.1734 40.2042C20.6742 40.7205 20.0745 41.129 19.4114 41.4041C18.7482 41.6793 18.0357 41.8154 17.3179 41.8039ZM17.3179 38.6842C17.8587 38.6849 18.383 38.4978 18.8014 38.1549C19.2198 37.812 19.5064 37.3344 19.6124 36.8037C19.7184 36.2729 19.6371 35.7218 19.3825 35.2443C19.1279 34.7668 18.7157 34.3924 18.2162 34.1851C17.7167 33.9777 17.1607 33.9502 16.6432 34.1072C16.1257 34.2642 15.6786 34.5959 15.3781 35.0459C15.0776 35.496 14.9424 36.0364 14.9955 36.575C15.0486 37.1136 15.2867 37.6172 15.6692 37.9998C15.8828 38.2204 16.1393 38.395 16.4228 38.5127C16.7064 38.6304 17.011 38.6888 17.3179 38.6842Z" fill="#009F59"/>
                    <path d="M31.4181 41.8039L28.515 36.7653L25.6119 41.8039H22.0124L28.515 30.5384L35.0134 41.8039H31.4181Z" fill="#009F59"/>
                    <path d="M41.9901 36.7401H45.1197C45.0201 38.1147 44.4047 39.4007 43.397 40.34C42.3893 41.2793 41.0639 41.8022 39.6869 41.8039C38.6244 41.8053 37.5845 41.4961 36.6952 40.9142C35.8059 40.3322 35.1057 39.503 34.6808 38.5283C34.2559 37.5536 34.1248 36.4759 34.3034 35.4276C34.4821 34.3792 34.9628 33.406 35.6865 32.6274C36.4103 31.8488 37.3455 31.2987 38.3773 31.0448C39.4091 30.7908 40.4925 30.8441 41.4944 31.198C42.4964 31.5519 43.3733 32.191 44.0173 33.0368C44.6614 33.8826 45.0445 34.8983 45.1197 35.9591H41.9901C41.9158 35.4788 41.6858 35.0362 41.3356 34.6994C41.1188 34.4827 40.8615 34.3109 40.5784 34.1937C40.2952 34.0765 39.9918 34.0163 39.6854 34.0165C39.379 34.0167 39.0756 34.0773 38.7927 34.1949C38.5097 34.3124 38.2526 34.4846 38.0361 34.7015C37.8195 34.9185 37.6478 35.176 37.5308 35.4594C37.4137 35.7428 37.3535 36.0465 37.3537 36.3532C37.3539 36.6598 37.4145 36.9635 37.5319 37.2467C37.6493 37.5299 37.8214 37.7872 38.0381 38.0039C38.2544 38.221 38.5114 38.3933 38.7943 38.5108C39.0772 38.6283 39.3806 38.6888 39.6869 38.6888C39.9932 38.6888 40.2965 38.6283 40.5794 38.5108C40.8623 38.3933 41.1193 38.221 41.3356 38.0039C41.6874 37.6667 41.9176 37.2222 41.9901 36.7401Z" fill="#009F59"/>
                    <path d="M49.5624 37.9074V41.8039H46.4496V30.8869H49.5624V34.7834L53.4556 30.8869H57.8438L52.39 36.3454L57.8438 41.8039H53.4556L49.5624 37.9074Z" fill="#009F59"/>
                    <path d="M69.5443 34.0108H58.6367V30.8953H69.5443V34.0108ZM69.5443 37.9074H58.6367V34.7918H69.5443V37.9074ZM69.5443 41.8039H58.6367V38.6842H69.5443V41.8039Z" fill="#009F59"/>
                    <path d="M78.1068 34.0108V41.8039H74.9939V34.0108H71.1008V30.8953H82.0084V34.0108H78.1068Z" fill="#009F59"/>
                    </g>
                </svg>
            </a>
        </section>
        <!-- main -->
        <section class="agree_main">
            <h5 class="join_sub_title">배드민턴 플랫폼 롸켓</h5>
            <h1 class="join_title">회원가입</h1>
            <section class="step_box">
                <article class="step_num">
                    <p>STEP 1.</p>
                    <p>STEP 2.</p>
                    <p>STEP 3.</p>
                </article>
                <article class="step_circle">
                    <svg viewBox="0 0 16 16" fill="none" onclick="location.href='/join.aspx';" style="cursor:pointer;">
                        <circle cx="8" cy="8" r="7.5" fill="#009F59"/>
                    </svg>
                    <hr>
                    <svg viewBox="0 0 16 16" fill="none">
                        <circle cx="8" cy="8" r="7.5" fill="#009F59"/>
                    </svg>
                    <hr>
                    <svg viewBox="0 0 16 16" fill="none">
                        <circle cx="8" cy="8" r="7.5" stroke="#009F59"/>
                    </svg>
                </article>
                <article class="step_title">
                    <p>약관동의</p>
                    <p>정보입력</p>
                    <p>가입완료</p>
                </article>
            </section>
            <!-- input information -->
            
            <section class="input_form">
                <h5 class="input_title">아이디<span class="pink_star"> &#42;</span></h5>
                <section class="input_btn_box">
                   <input id="txtId" runat="server" class="input_content input_content_short" onkeyup="fnRegExpId();" type="text" placeholder="아이디(영문+숫자, 6~20자리)" tabindex="100"/>
                   <input type="button" id="btnCheckId" onclick = "fnCheckId()" class="overlap_check_btn" disabled="disabled" tabindex="150" value="중복확인"/>
                </section>
                <!--경고문구-->
                <article class="id_warning_text">
                    <p id="warningId"></p>
                </article>

                <h5 class="input_title">비밀번호<span class="pink_star"> &#42;</span></h5>
                <input id="txtPw" runat="server" class="input_content" type="password" placeholder="비밀번호(영문+숫자, 6~20자리)" onkeyup="fnChkPw();" tabindex="200"/>
                <!--경고문구-->
                <article class="id_warning_text">
                    <p id="warningPw"></p>
                </article>
                
                <h5 class="input_title">비밀번호 확인<span class="pink_star"> &#42;</span></h5>
                <input id="txtPw2" class="input_content" type="password" placeholder="비밀번호 확인"  onkeyup="fnChkPw();" tabindex="300"/>
                <!--경고문구-->
                <article class="id_warning_text">
                    <p id="warningPw2"></p>
                </article>

                <!-- 1번버튼 -->
                <asp:Button ID="btnPass1" class="pass_btn" runat="server" Text="PASS 본인인증" OnClientClick="passAuth();return false;"/>


                <h5 class="input_title">이름<span class="pink_star"> &#42;</span></h5>
                <input id="txtName" runat="server" class="input_content margin_bt" readonly="readonly" type="text" placeholder="이름" tabindex="400" value=""/>

                 <input type="hidden" runat="server" id="txtDIcheck" value="" />

                <h5 class="input_title">성별<span class="pink_star"> &#42;</span></h5>
                <select id="selGender" runat="server" class="input_content margin_bt select_font_color txt_black" tabindex="500" onchange="ChooseGender()">
                    <option value="M">남</option>
                    <option value="F">여</option>
                </select>
                <input type="text" id="passGender"  runat="server" class="input_content margin_bt select_font_color txt_black" tabindex="500"/>
                <asp:HiddenField ID="hiddenGender" runat="server" value="male"/>

                <h5 class="input_title">생년월일<span class="pink_star"> &#42;</span></h5>
                <article class="input_birth_box" >
                    <input id="txtYear" runat="server" class ="input_content input_content_birth" type="text" placeholder="생년(4자리)" maxlength="4" tabindex="600"  />
                    <select id="selMonth" runat="server" class="input_content input_content_birth select_font_color txt_black"  tabindex="700">
                        <option value="">월</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input id="txtMonth" runat="server" class="input_content input_content_birth select_font_color txt_black"  tabindex="700"/>
                    <select id="selDay" runat="server" class="input_content input_content_birth select_font_color txt_black" tabindex="800">
                        
                    </select>
                    <input id="txtDay" runat="server" class="input_content input_content_birth select_font_color txt_black" tabindex="800" />
                </article>
                <!--경고문구-->
                <p class="birth_warning_text">태어난 년도 4자리를 정확하게 입력하세요.</p>
                <!-- 만 14세 미만일 경우 하단 텍스트필드 추가 -->
                

                <!-- 애기핸드폰 -->
                <h5 class="input_title">휴대폰번호<span class="pink_star"> &#42;</span></h5>
                <section class="input_btn_box">
                    <input id="txtPhone" runat="server" class="input_content input_content" type="text" placeholder="-없이 숫자만입력" tabindex="900" />
                </section>
                
                 <!-- 2번버튼 -->
                <input type="button" class="pass_btn mt_30" value="PASS 본인인증" id="btnPass2" onclick="passAuth()"/>

                <section class="teen_input_box">
                    <h5 class="input_title">보호자 이름<span class="pink_star"> &#42;</span></h5>
                    <input runat="server" id="txtParentName" class="input_content margin_bt" type="text" placeholder="이름" tabindex="810"/>
                    
                    <h5 class="input_title">보호자 성별<span class="pink_star"> &#42;</span></h5>
                    <input runat="server" id="txtParentGender" class="input_content margin_bt" type="text" tabindex="820"/>

                    <h5 class="input_title">보호자 생년월일<span class="pink_star"> &#42;</span></h5>
                    <article class="input_birth_box">
                        <input id="txtParentYear" runat="server" class="input_content input_content_birth" type="text" placeholder="생년(4자리)" maxlength="4" tabindex="830">
                        <input id="txtParentMonth" runat="server" class="input_content input_content_birth" type="text"  maxlength="4" tabindex="840"/>
                        <input id="txtParentDay" runat="server" class="input_content input_content_birth" type="text"  maxlength="2" tabindex="850">
                        
                      
                    </article>
                    <!--경고문구-->
                    <p class="birth_warning_text">태어난 년도 4자리를 정확하게 입력하세요.</p>

                    <h5 class="input_title">보호자 휴대폰번호<span class="pink_star"> &#42;</span></h5>
                    <section class="input_btn_box">
                        <input id="txtParentMobile" runat="server" class="input_content input_content_short" type="text" placeholder="-없이 숫자만입력" tabindex="1010"/>
                    </section>
                    <!--경고문구-->
                    <p class="num_warning_text">형식에 맞지 않는 번호입니다.</p>
                </section>


                
                <!--경고문구-->
                <p class="num_warning_text">형식에 맞지 않는 번호입니다.</p>
                
                <%--<h5 class="input_title input_content_short">닉네임<span class="pink_star"> &#42;</span></h5>
                <section class="input_btn_box">
                    <input id="txtNickName" runat="server" class="input_content input_content_short" name ="lastCheck" type="text" placeholder="닉네임을 적어주세요" tabindex="1000"/>
                    <input type="button" class="overlap_check_btn btn_green" onclick="fnChkNickName();" tabindex="1050" value="중복확인" />
                </section>--%>
                <!--경고문구-->
                <%--<article class="id_warning_text">
                    <p id="warningNickName" class="nn_warning_text"></p>
                </article>--%>

                <h5 class="input_title">협회소속 여부<span class="pink_star"> &#42;</span></h5>
                <ul class="radio_form radio_form_size">
                    <li class="radio_btn">
                        <input type="radio" runat="server" id="rdoIsAss1" name="rdoIsAss" checked tabindex="1020" value="1" onchange="rdoIsAssChange();"/>
                        <label for="rdoIsAss1">
                            <div class="radio_svg">
                                <div class="radio_on">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <circle cx="7.5" cy="7.5" r="7" stroke="#9F9F9F"/>
                                        <circle cx="7.5" cy="7.5" r="4.5" fill="#009F59"/>
                                    </svg>
                                </div>
                                <div class="radio_off">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <circle cx="7.5" cy="7.5" r="7" stroke="#9F9F9F"/>
                                    </svg>
                                </div>
                            </div>
                            &nbsp;소속협회가 있어요
                        </label>
                    </li>
                    <li class="radio_btn">
                        <input type="radio" runat="server" id="rdoIsAss2" name="rdoIsAss" tabindex="1040" value ="0" onchange="rdoIsAssChange();"/>
                        <label for="rdoIsAss2">
                            <div class="radio_svg">
                                <div class="radio_on">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <circle cx="7.5" cy="7.5" r="7" stroke="#9F9F9F"/>
                                        <circle cx="7.5" cy="7.5" r="4.5" fill="#009F59"/>
                                    </svg>
                                </div>
                                <div class="radio_off">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <circle cx="7.5" cy="7.5" r="7" stroke="#9F9F9F"/>
                                    </svg>
                                </div>
                            </div>
                            &nbsp;소속협회가 없어요
                        </label>
                    </li>
                </ul>
                <section class="assign_none">
                    <p id="guideText" class="content_guide">&#42;소속협회가 없는 분은 거주지역을 선택하세요.</p>
                    <article id="input_place_box" class ="input_place_box">
                        <select id="selRegion1" runat="server" class="input_content select_font_color input_content_place" tabindex="1060" onchange="GetAreaList('1');">
                           <option value="">--선택--</option>
                        </select>
                        <select id="selArea1" runat="server" class="input_content select_font_color input_content_place" tabindex="1080">
                            <option value="">--선택--</option>
                        </select>
                        
                    </article>
                    <article class="id_warning_text" style="margin-top:-20px;">
                        <p id="warningNoAss"></p>
                    </article>

                </section>

                <section class="assign_yes">
                    <h5 class="input_title">소속협회</h5>
                    
                    <section class="all_select_place">
                        <%--<select id="selRegion" runat="server" class="input_content margin_bt select_font_color si_display" tabindex="2020">
                            
                        </select>--%>
        
                        <article id="acticalClub" class="input_place_box si_gun_gu_display">
                            <select id="selRegion2" runat="server" class="input_content select_font_color input_content_place" tabindex="2030" onchange="GetAreaList('2');">
                                 <option value="">--선택--</option>
                            </select>
                            <select id="selArea2" runat="server" class="input_content select_font_color input_content_place" tabindex="2040">
                                 <option value="">--선택--</option>
                            </select>
                        </article>
                    </section>

                </section>
               
               <section id="clubCheck">
                <h5 id="clubText" class="input_title">소속클럽</h5>
                    <section id="clubSection" class="search_box">
                        <input type="text" id="txtClub" onclick="fnOpenSearchClub();" class="input_content input_content_search" tabindex="2100"  placeholder="소속클럽 검색하기" readonly="true"/>
                        <svg class="search_icon" viewBox="0 0 20 20" fill="none">
                            <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#009F59"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.9999 19L14.6499 14.65" stroke="#009F59" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </section>
                </section>
             
                
           
                <asp:Button ID="join" runat="server"  class="join_btn" OnClientClick ="return fnBeforeSubmit();" tabindex="2200"  Text="가입하기" onClick="join_Click" />
            </section>
        </section>
        <!-- footer -->
        <section class="rk_footer">
            <section class="footer_min_size">
                <section class="footer_content">
                    <article class="use_and_info">
                        <a class="terms_of_use" href="">이용약관</a>
                        <span class="center_line">|</span>
                        <a class="perso_info" href="">개인정보처리방침</a>
                    </article>
                    <address class="address_box">
                        <p class="statnco_num">
                            (주)스탯앤코
                            <span class="center_line">|</span>
                            대표 &nbsp; 배대웅
                            <span class="center_line">|</span>
                            사업자등록번호 &nbsp; 215-87-93631
                        </p>
                        <p class="statnco_address">
                            주소 &nbsp; 서울 송파구 송파대로 167 테라타워 B동 1416호
                            <span class="center_line">|</span>
                            Tel &nbsp; <a href="tel:0222527980">02-2252-7980</a>
                        </p>
                    </address>
                </section>
                <p class="copy_right">Copyright &copy; STATNCO Corp. All rights reserved.</p>
            </section>
            <svg class="footer_logo" viewBox="0 0 156 22" fill="none">
                <g clip-path="url(#clip0_160_4794)">
                <path d="M4.94989 8.58999H8.47989V11.44C9.13989 11.39 9.78989 11.3101 10.4799 11.2201V6.54H14.0099V10.39C14.6937 10.1683 15.3618 9.90103 16.0099 9.58999V4.80001H19.5399V7.87002C20.1999 7.59002 20.8599 7.33001 21.5399 7.11001V2.95998H25.0699V6.1C26.4184 5.80954 27.7848 5.60912 29.1599 5.50002H29.5199C28.9226 3.88918 27.8441 2.5011 26.4308 1.52431C25.0175 0.547523 23.3379 0.0293084 21.6199 0.0399996H8.48987C6.30765 0.0105303 4.20245 0.845905 2.63416 2.36361C1.06586 3.88131 0.161949 5.95802 0.119873 8.14004V10.59C0.119873 10.8034 0.119873 11.0134 0.119873 11.2201C1.62987 11.4001 3.30989 11.54 5.03989 11.58L4.94989 8.58999Z" fill="#BFBFBF"/>
                <path d="M29.3999 5.45996H29.0399C27.6648 5.56906 26.2984 5.76954 24.9499 6.06V15.16H21.4199V7.07001C20.7799 7.29001 20.1199 7.55002 19.4199 7.83002V15.16H15.8899V9.56C15.2419 9.87104 14.5737 10.1384 13.8899 10.36V15.16H10.3599V11.16C9.70992 11.25 9.05992 11.3299 8.35992 11.3799V15.1299H4.82993V11.48C3.09993 11.48 1.41991 11.2999 -0.0900879 11.1199C0.0307628 12.4572 0.481331 13.7437 1.22128 14.8641C1.96123 15.9845 2.96746 16.9038 4.1499 17.54L4.00992 21.04L8.8399 18.59H21.3799C23.5621 18.6195 25.6673 17.7841 27.2356 16.2664C28.8039 14.7487 29.7078 12.6719 29.7499 10.4899V8.03998C29.7794 7.1664 29.6611 6.29411 29.3999 5.45996Z" fill="#D8D8D8"/>
                <path d="M49.5299 5.73999C49.1919 5.45966 48.8146 5.23055 48.4099 5.06C48.0622 4.92478 47.693 4.85361 47.3199 4.84998C46.9356 4.83179 46.5561 4.94074 46.2399 5.15997C46.1079 5.25394 46.0007 5.37861 45.9276 5.52319C45.8544 5.66778 45.8175 5.82797 45.8199 5.98999C45.8123 6.20021 45.8877 6.405 46.0299 6.56C46.1865 6.72671 46.3731 6.86237 46.5799 6.95996C46.8292 7.07518 47.0866 7.17214 47.3499 7.25L48.1999 7.51001C49.1442 7.76982 49.9965 8.28955 50.6599 9.01001C51.2038 9.70368 51.4805 10.5695 51.4399 11.45C51.4508 12.0799 51.3352 12.7056 51.0999 13.29C50.8787 13.8302 50.5366 14.3126 50.0999 14.7C49.6324 15.1144 49.0843 15.4276 48.4899 15.6199C47.7882 15.8413 47.0557 15.9494 46.3199 15.94C44.6559 15.938 43.034 15.4172 41.6799 14.45L43.1499 11.68C43.6041 12.0918 44.1204 12.4293 44.6799 12.68C45.1478 12.8938 45.6556 13.0062 46.1699 13.01C46.6214 13.0466 47.0694 12.9068 47.4199 12.6199C47.5465 12.5127 47.6486 12.3795 47.7193 12.2294C47.7901 12.0793 47.8278 11.9158 47.8299 11.7499C47.8354 11.5714 47.8013 11.3939 47.7299 11.23C47.6455 11.0716 47.5257 10.9347 47.3799 10.83C47.1815 10.6905 46.9666 10.5762 46.7399 10.4899C46.4699 10.3799 46.1499 10.26 45.7399 10.14C45.3299 10.02 44.8599 9.83998 44.4399 9.66998C44.0254 9.51144 43.6401 9.28503 43.2999 9C42.9553 8.71054 42.6787 8.34861 42.4899 7.94C42.2702 7.42893 42.1644 6.87611 42.1799 6.32001C42.1707 5.71065 42.2829 5.10552 42.5099 4.53998C42.7127 4.02396 43.0229 3.55697 43.4199 3.16998C43.8309 2.77398 44.3219 2.47051 44.8599 2.27997C45.4696 2.06388 46.1132 1.95888 46.7599 1.96997C47.4518 1.97561 48.1402 2.06631 48.8099 2.23999C49.5229 2.4235 50.2111 2.69208 50.8599 3.03998L49.5299 5.73999Z" fill="white"/>
                <path d="M63.6001 5.26996V15.57H60.1701V5.26996H57.3501V2.35999H66.4201V5.26996H63.6001Z" fill="white"/>
                <path d="M80.34 13.28H75.43L74.65 15.57H70.98L75.98 2.35999H79.73L84.73 15.57H81.07L80.34 13.28ZM79.43 10.66L77.89 6.26996L76.34 10.66H79.43Z" fill="white"/>
                <path d="M95.6399 5.26996V15.57H92.2099V5.26996H89.3799V2.35999H98.4599V5.26996H95.6399Z" fill="white"/>
                <path d="M113.69 10.52C114.319 9.94256 114.894 9.31008 115.41 8.63001L117.36 10.51C117.148 10.7921 116.921 11.0625 116.68 11.32C116.43 11.6 116.14 11.88 115.81 12.19L115.55 12.43L118.49 15.57H114.22L113.06 14.3601C111.737 15.3257 110.157 15.8757 108.52 15.94C107.941 15.948 107.366 15.8532 106.82 15.66C106.329 15.4857 105.878 15.2173 105.49 14.8699C105.119 14.5331 104.82 14.125 104.61 13.67C104.398 13.1916 104.293 12.6731 104.3 12.15C104.294 11.7086 104.362 11.2694 104.5 10.85C104.649 10.4382 104.884 10.0631 105.19 9.75001C105.432 9.48529 105.708 9.25332 106.01 9.06C106.36 8.84009 106.724 8.64298 107.1 8.46998L107.47 8.29999L107.24 8.03999C106.64 7.36306 106.288 6.50297 106.24 5.59998C106.235 5.10296 106.341 4.61114 106.55 4.15998C106.76 3.72204 107.056 3.33094 107.42 3.01002C107.805 2.67914 108.25 2.42461 108.73 2.26002C109.253 2.07569 109.805 1.98429 110.36 1.99C110.918 1.98435 111.473 2.07573 112 2.26002C112.48 2.43065 112.924 2.68824 113.31 3.01997C113.671 3.34128 113.964 3.73251 114.17 4.16999C114.371 4.61958 114.474 5.1073 114.47 5.59998C114.477 5.93729 114.437 6.27392 114.35 6.59998C114.264 6.88983 114.125 7.16112 113.94 7.39997C113.722 7.67158 113.47 7.91365 113.19 8.12C112.826 8.38065 112.441 8.6114 112.04 8.81L113.69 10.52ZM109.1 10.05C108.27 10.57 107.86 11.05 107.86 11.59C107.858 11.7704 107.899 11.9487 107.98 12.1101C108.058 12.2666 108.171 12.4032 108.31 12.51C108.456 12.6232 108.617 12.7142 108.79 12.78C108.981 12.8414 109.18 12.8717 109.38 12.8699C110.026 12.8537 110.654 12.6525 111.19 12.29L109.1 10.05ZM110.52 7.18C111.34 6.68667 111.75 6.13664 111.75 5.52998C111.755 5.21445 111.637 4.90946 111.42 4.68C111.317 4.56192 111.189 4.4683 111.046 4.40601C110.902 4.34372 110.746 4.31436 110.59 4.32001C110.443 4.31186 110.296 4.33629 110.159 4.39161C110.023 4.44693 109.9 4.53177 109.8 4.64002C109.698 4.74208 109.618 4.86387 109.564 4.99799C109.511 5.13212 109.486 5.27572 109.49 5.41999C109.626 6.10547 109.989 6.72526 110.52 7.18Z" fill="white"/>
                <path d="M134.3 6.8C133.957 6.34523 133.513 5.97712 133.002 5.72529C132.492 5.47347 131.929 5.34492 131.36 5.34999C130.869 5.34315 130.382 5.43853 129.93 5.63002C129.507 5.80599 129.123 6.06434 128.8 6.39003C128.479 6.72216 128.225 7.11244 128.05 7.53999C127.867 7.99772 127.775 8.48696 127.78 8.97999C127.775 9.47628 127.867 9.9688 128.05 10.43C128.228 10.861 128.486 11.2546 128.81 11.59C129.136 11.9145 129.519 12.1756 129.94 12.3601C130.382 12.5506 130.859 12.6459 131.34 12.64C131.911 12.6343 132.474 12.5064 132.992 12.265C133.509 12.0235 133.969 11.6739 134.34 11.2399V15.3L133.99 15.43C133.51 15.5993 133.019 15.7363 132.52 15.84C132.075 15.922 131.623 15.9655 131.17 15.97C130.271 15.9746 129.379 15.7977 128.55 15.45C127.726 15.115 126.975 14.6224 126.34 14C125.693 13.3609 125.173 12.604 124.81 11.77C124.416 10.8862 124.218 9.92754 124.23 8.95998C124.219 7.99672 124.413 7.04214 124.8 6.15999C125.166 5.34197 125.682 4.59931 126.32 3.96998C126.963 3.35679 127.716 2.8715 128.54 2.53999C129.38 2.1915 130.281 2.01467 131.19 2.01997C131.711 2.01666 132.232 2.07375 132.74 2.19002C133.287 2.3124 133.823 2.48308 134.34 2.70003L134.3 6.8Z" fill="white"/>
                <path d="M140.98 8.97C140.973 8.0263 141.156 7.09089 141.52 6.22C141.872 5.39044 142.385 4.63922 143.03 4.01004C143.688 3.36287 144.47 2.85592 145.33 2.51999C146.287 2.1547 147.305 1.97486 148.33 1.99002C149.335 1.98052 150.332 2.16029 151.27 2.51999C152.136 2.85551 152.925 3.36234 153.59 4.01004C154.241 4.636 154.758 5.38787 155.11 6.22C155.473 7.09089 155.657 8.0263 155.65 8.97C155.657 9.91049 155.474 10.8427 155.11 11.7101C154.756 12.5407 154.239 13.2921 153.59 13.92C152.922 14.5643 152.134 15.0706 151.27 15.41C150.332 15.7697 149.335 15.9495 148.33 15.94C147.305 15.9552 146.287 15.7753 145.33 15.41C144.473 15.0697 143.691 14.5634 143.03 13.92C142.387 13.289 141.874 12.5382 141.52 11.7101C141.156 10.8427 140.972 9.91049 140.98 8.97ZM144.57 8.97C144.566 9.46914 144.668 9.96342 144.87 10.42C145.065 10.8541 145.34 11.2477 145.68 11.58C146.02 11.9077 146.421 12.1659 146.86 12.3401C147.315 12.5216 147.8 12.6133 148.29 12.6101C148.776 12.6123 149.258 12.5206 149.71 12.3401C150.152 12.1603 150.558 11.9029 150.91 11.58C151.25 11.2477 151.525 10.8541 151.72 10.42C151.922 9.96342 152.024 9.46914 152.02 8.97C152.026 8.46744 151.924 7.96952 151.72 7.51004C151.525 7.07596 151.25 6.6824 150.91 6.35001C150.558 6.02711 150.152 5.76971 149.71 5.59C149.258 5.40949 148.776 5.31786 148.29 5.32004C147.8 5.31682 147.315 5.40847 146.86 5.59C146.421 5.76415 146.02 6.02232 145.68 6.35001C145.34 6.6824 145.065 7.07596 144.87 7.51004C144.666 7.96952 144.564 8.46744 144.57 8.97Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_160_4794">
                <rect width="155.61" height="21.1" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </section>
    </section>

 
    <!-- search pop up -->
    <div class="modal fade" id="ssoSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <section class="pop_up_search modal-content">
                <svg id="ssoSearchCancle" data-bs-dismiss="modal" class="pop_close_btn" viewBox="0 0 20 20" fill="none">
                    <path d="M4.3999 4.39999L15.5999 15.6" stroke="#707070" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.5999 4.39999L4.3999 15.6" stroke="#707070" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="pop_up_search_title">소속클럽 찾기</p>
                <div class="auto_complete">
                   <section class="pop_up_search_box">
                        <input type="text" class="search_content" id="txtClubName" onkeyup="fnChkClubName();"/>
                        <article class="search_btn_box">
                            <svg class="del_icon" viewBox="0 0 19 19" fill="none" onclick="fnResetClubName();">
                                <path d="M9.5 19C14.7467 19 19 14.7467 19 9.5C19 4.25329 14.7467 0 9.5 0C4.25329 0 0 4.25329 0 9.5C0 14.7467 4.25329 19 9.5 19Z" fill="#E5E5E5"/>
                                <path d="M13.7751 6.08608L12.914 5.22498L9.5001 8.63887L6.0862 5.22498L5.2251 6.08608L8.63899 9.49998L5.2251 12.9139L6.0862 13.775L9.5001 10.3611L12.914 13.775L13.7751 12.9139L10.3612 9.49998L13.7751 6.08608Z" fill="white"/>
                            </svg>
                            <div class="green_bg" id="fndClubBtn" onclick="fnClubSerach();">
                                <svg class="search_icon" viewBox="0 0 19 19" fill="none" ">
                                    <path d="M8.55553 16.1111C12.7283 16.1111 16.1111 12.7283 16.1111 8.55553C16.1111 4.38273 12.7283 1 8.55553 1C4.38273 1 1 4.38273 1 8.55553C1 12.7283 4.38273 16.1111 8.55553 16.1111Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.9999 18L13.8916 13.8917" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </article>
                    </section>
                    <!-- search 자동완성 목록 나올 부분 -->
                    <div id="autocomplete_items" class="autocomplete_items">
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
    </form>
</body>
</html>
