﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testToken.aspx.cs" Inherits="Statnco.Web.Main.test.testToken" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var key = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZHgiOiIxOCIsIklkIjoidGVzdDEyMyIsImlzcyI6IlJvYWNrZXQiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjEwMDAzIiwiZXhwIjoxNjQ1MDc2MjQ4LCJuYmYiOjE2NDI0ODQyNDh9.zRPyE_1qjSn9rQ4u9mock5XdvOp6t736bMrO9uvBJyw";
        //var key = "test";

        //var param = {
        //    "option": 
        //    "password": "dlwnsgus12"
            
        //};

        function fnTokenTest() {
            $.ajax({
                type: "GET",
                url: "http://localhost:10002/api/ClubMember?filter=%7B%22region%22%3A%7B%22si%22%3A%220%22%20%2C%22gu%22%20%3A%20%220%22%7D%2C%20%22search%22%20%3A%20%7B%22option%22%20%3A%20%22userId%22%2C%22content%22%3A%22test%22%7D%7D&range=0&range=9&sort=%22userId%22&sort=%22DESC%22",
                contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", key);
                },
               /* data: param,*/
                success: function (data) {
                    console.log(data);
                }
            })
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <input type="button" onclick="fnTokenTest();" value="토큰 테스트" />
        </div>
    </form>
</body>
</html>
