@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap'); 
* { margin : 0; padding : 0; box-sizing : border-box; list-style : none; font-style : normal; text-decoration : none; font-family: 'Roboto', sans-serif; font-weight : 700; } 

html, body { width : 100%; height : 100%; } 
p { margin : 0; } 
a { text-decoration : none; } 

/*---- main page ----*/
.rk_wrap { width : 100%; min-height : 100%; background-color : #f7faf9; margin : 0 auto; position : relative; padding-bottom : 86px; } 
/* main page - header */
.rk_wrap .rk_hd { max-width : 1440px; height : 82px; background-color : #f7faf9; padding : 59px 0 3.13px 50px; margin : 0 auto; } 
.rk_wrap .rk_hd .rk_icon { width : 36px; height : 20px; } 
/* main page - main */
.rk_wrap .rk_main { max-width : 1440px; display : flex; flex-direction : column; margin : 0 auto; } 
/* main page - main (roacket) */
.rk_wrap .rk_main .roacket_page { height : 479px; background-color : #fff; display : flex; } 
.rk_wrap .rk_main .roacket_page .rk_page_left { width : 136px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center { width : 977px; margin : 0 9px; position : relative; } 
.rk_wrap .rk_main .roacket_page .rk_page_right { width : 309px; } 
.rk_wrap .rk_main .roacket_page .rk_page_left .left_up,
.rk_wrap .rk_main .roacket_page .rk_page_center .center_up,
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up { height : 293px; background-color : #2e9e21; } 
.rk_wrap .rk_main .roacket_page .rk_page_left .left_up { text-align : center; padding-top : 11px; } 
.rk_wrap .rk_main .roacket_page .rk_page_left .left_up .roacket_logo { width : 83px; height : 12px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .center_up { padding : 226px 0 11px 29px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .center_up .center_up_title { font-size : 48px; line-height : 56.25px; color : #fff; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up { background-color : #fff; } 
.rk_wrap .rk_main .roacket_page .rk_page_left .left_down,
.rk_wrap .rk_main .roacket_page .rk_page_center .center_down,
.rk_wrap .rk_main .roacket_page .rk_page_right .right_down { height : 177px; background-color : #2e9e21; margin-top : 9px; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up { display : flex; flex-direction : column; padding : 48px 0 0 18px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .center_down { padding : 106px 0 15px 21px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .center_down .center_down_title { width : 189px; word-break : keep-all; font-size : 24px; line-height : 28.13px; color : #fff; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .st_icon { position : absolute; top : 88px; left : 581px; } 
.rk_wrap .rk_main .roacket_page .rk_page_center .bad_icon { position : absolute; top : 143.89px; left : 497px; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_logo { width : 153px; height : 78px; margin-left : 50px; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_login_title { font-size : 12px; line-height : 14.06px; color : #009f59; padding : 12px 0 45px 77px; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_login_btn { width : 260px; height : 46px; background-color : #f2b41b; display : flex; align-items : center; justify-content : center; border-radius : 5px; font-size : 16px; line-height : 18.75px; color : #fff; border : 0; cursor : pointer; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box { width : 260px; padding-top : 18px; display : flex; justify-content : space-between; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box .id_pw_find_box { font-size : 13px; line-height : 15.23px; color : #4c4c4c; } 
.rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box .join_member { font-size : 14px; line-height : 16.41px; color : #009f59; } 
/* main page - main (others page) */
.rk_wrap .rk_main .others_page { display : flex; justify-content : space-between; padding : 10px 0 27px 0; } 
.rk_wrap .rk_main .others_page .chil_ten { width : 525px; height : 393px; background-color : #fff; } 
.rk_wrap .rk_main .others_page .game_one { width : 588px; height : 393px; background-color : #fff; } 
.rk_wrap .rk_main .others_page .one_shop { width : 309px; height : 393px; background-color : #fff; } 
.rk_wrap .rk_main .others_page .chil_ten .chil_ten_text,
.rk_wrap .rk_main .others_page .game_one .game_one_text { height : 49px; display : flex; align-items : center; justify-content : space-between; } 
.rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_title,
.rk_wrap .rk_main .others_page .game_one .game_one_text .game_title { font-size : 13px; line-height : 15.23px; color : #2c4a9a; padding-left : 7px; } 
.rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_icon { width : 58px; height : 35px; margin-right : 7.78px; } 
.rk_wrap .rk_main .others_page .game_one .game_one_text .game_title { color : #4c4c4c; } 
.rk_wrap .rk_main .others_page .game_one .game_one_text .game_icon { width : 100px; height : 22px; margin-right : 30.72px; } 
.rk_wrap .rk_main .others_page .chil_ten .chil_ten_img { width : 525px; height : 344px; background-image : url('../images/chilten_site.png'); background-repeat : no-repeat; background-size : cover; background-position : center; } 
.rk_wrap .rk_main .others_page .game_one .game_one_img { width : 588px; height : 343px; background-image : url('../images/gameone_site.png'); background-repeat : no-repeat; background-size : cover; background-position : center; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_img { width : 309px; height : 198px; background-image : url('../images/oneshop_site.png'); background-repeat : no-repeat; background-size : cover; background-position : center; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text { height : 198px; background-color : #fbf5dc; display : flex; flex-direction : column; padding : 49px 53px 48px 43px; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn,
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { width : 213px; height : 40px; background-color : #fff; border-radius : 5px; font-size : 13px; color : #0f51a0; line-height : 15.23px; display : flex; align-items : center; border : 0; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn { cursor : pointer; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { color : #4c4c4c; padding : 0 16px 0 17px; margin-top : 21px; background : #fff url('../images/select_arrow.svg') no-repeat 95% 50%; -webkit-appearance : none; -moz-appearance : none; appearance : none; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select::-ms-expand { display : none; } 
.rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn .bad_logo { width : 23px; height : 32px; margin : 0 13px 0 17px; } 
/* footer */
.rk_footer { position : absolute; bottom : 0; left : 0; right : 0; width : 100%; height : 86px; background-color : #727272; display : flex; align-items : center; justify-content : space-between; font-size : 12px; line-height : 14.06px; color : #fff; padding : 0 61.39px 0 52px; } 
.rk_footer .footer_min_size { width : 58%; display : flex; align-items : center; justify-content : space-between; } 
.rk_footer .footer_content .use_and_info { width : 174px; display : flex; justify-content : space-between; } 
.rk_footer .footer_content .address_box { width : 401px; padding-top : 6px; margin-bottom : 0; } 
.rk_footer .footer_content .address_box .statnco_num,
.rk_footer .footer_content .address_box .statnco_address { display : flex; justify-content : space-between; } 
.rk_footer .footer_content .address_box .statnco_num { width : 340px; padding-bottom : 1px; } 
.rk_footer a:link { color : #fff; } 
.rk_footer a:visited { color : #fff; } 
.rk_footer a:hover { color : #fff; } 
.rk_footer a:active { color : #fff; } 
.rk_footer .footer_logo { width : 156px; height : 22px; } 



/*---- agree page ----*/
.agree_wrap { width : 100%; min-height : 100%; margin : 0 auto; position : relative; padding-bottom : 86px; background-color : #f7faf9; } 
/* header */
.agree_wrap .agree_hd { height : 82px; background-color : #fff; padding : 18px 0 22.2px 27px; } 
.agree_wrap .agree_hd .main_logo .rk_logo { width : 82px; height : 42px; } 
/* main */
.agree_wrap .agree_main { background-color : #f7faf9; display : flex; flex-direction : column; align-items : center; padding : 33px 0 0 0; } 
.agree_wrap .agree_main .join_sub_title { font-size : 12px; line-height : 14.06px; color : #009f59; } 
.agree_wrap .agree_main .join_title { font-size : 18px; line-height : 21.09px; color : #009f59; padding : 6px 0 29px 0; }
    .agree_wrap .agree_main .step_box {
        width: 381px;
        height: 100px;
        border-radius: 5px;
        padding: 12px 7px 13px 7px;
        background-color: #fff;
    } 
.agree_wrap .agree_main .step_box .step_num,
.agree_wrap .agree_main .step_box .step_circle,
.agree_wrap .agree_main .step_box .step_title { display : flex; justify-content : space-between; align-items : center; } 
.agree_wrap .agree_main .step_box .step_circle { justify-content : center; padding : 15px 0; } 
.agree_wrap .agree_main .step_box .step_circle > svg { width : 16px; height : 16px; } 
.agree_wrap .agree_main .step_box .step_num > p,
.agree_wrap .agree_main .step_box .step_title > p { font-size : 14px; line-height : 16.41px; color : #009f59; } 
.agree_wrap .agree_main .step_box .step_circle > hr { width : 131px; height : 0; border : 0.5px solid #009f59; margin : 0 3px; } 
/* check list */
.check_list {
    padding: 40px 0 57px 0;
} 
.check_list .check_li { width : 381px; padding-bottom : 30px; } 
.check_list .check_li:last-child { padding-bottom : 0; } 
.check_list .check_li input ~ label { display : flex; align-items : center; font-size : 13px; font-weight : 500; line-height : 15.23px; color : #2b2b2b; word-break : keep-all; } 
.check_list .check_li input ~ label .check { margin-right : 9px; } 
.check_list .check_li input ~ label .check .check_icon { width : 24px; height : 24px; } 
.check_list .check_li input { display : none; } 
.check_list .check_li input ~ label .check .check_on { display : none; } 
.check_list .check_li input ~ label .check .check_off { display : block; } 
.check_list .check_li input:checked ~ label .check .check_on { display : block; } 
.check_list .check_li input:checked ~ label .check .check_off { display : none; } 
.light_gray { color : #7e7e7e; } 
.agree_font_bold { font-weight : 700; } 
.check_list .check_content { width : 381px; height : 111px; border : 1px solid #009f59; border-radius : 5px; background-color : #fff; overflow-y : scroll; font-size : 10px; font-weight : 500; line-height : 11.72px; color : #7e7e7e; padding : 12px 3px 5px 4px; margin-top : 5px; }
.check_list .check_text {
    font-size: 11px;
    height :76px;
    line-height : 12.89px;
    font-weight: 500;
    color: #7e7e7e;
} 
.check_list .check_content::-webkit-scrollbar { width : 4px; } 
.check_list .check_content::-webkit-scrollbar-thumb { background-color : #e2e2e2; border-radius : 5px; } 
.agree_wrap .agree_main .agree_btn_box { display : flex; margin-bottom : 192px; } 
.agree_wrap .agree_main .agree_btn_box .cancel_btn,
.agree_wrap .agree_main .agree_btn_box .ok_btn { width : 168px; height : 46px; border-radius : 5px; background-color : #9f9f9f; font-size : 16px; color : #fff; line-height : 18.75px; text-align : center; border : 0; cursor : pointer; } 
.agree_wrap .agree_main .agree_btn_box .ok_btn { background-color : #009f59; margin-left : 43px; } 
/* input information */
.agree_wrap .agree_main .input_form { padding : 46px 0 65px 0; position : relative;  } 
.agree_wrap .agree_main .input_form .input_title { font-size : 13px; line-height : 15.23px; color : #727272; padding : 0 0 3px 3px; } 
.agree_wrap .agree_main .input_form .pink_star { color : #cc2c8c; } 
.agree_wrap .agree_main .input_form .input_btn_box { display : flex; justify-content : space-between; }
    .agree_wrap .agree_main .input_form .input_content,
    .agree_wrap .agree_main .input_form .pass_btn,
    .agree_wrap .agree_main .input_form .join_btn {
        width: 317px;
        height: 46px;
        border: 1px solid #009f59;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

        .agree_wrap .agree_main .input_form .input_content::placeholder {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.23px;
            color: #9f9f9f;
        }

    .agree_wrap .agree_main .input_form .margin_bt {
        margin-bottom: 31.72px;
    }

    .agree_wrap .agree_main .input_form .pass_btn {
        background-color: #8a51ff;
        padding: 0;
        border: 0;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        justify-content: center;
        margin-bottom: 27px;
    }
/* select box font color */
.select_font_color { color : #9f9f9f; background : #fff url('../images/select_arrow.svg') no-repeat 95% 50%; -webkit-appearance : none; -moz-appearance : none; appearance : none; } 
.select_font_color::-ms-expand { display : none; } 
.agree_wrap .select_font_color { font-size : 13.5px; font-weight : 500; } 
.agree_wrap .agree_main .input_form .id_warning_text,
.agree_wrap .agree_main .input_form .pw_warning_text,
.agree_wrap .agree_main .input_form .pw_check_warning_text,
.agree_wrap .agree_main .input_form .birth_warning_text,
.agree_wrap .agree_main .input_form .num_warning_text,
.agree_wrap .agree_main .input_form .nn_warning_text { font-size : 10px; line-height : 11.72px; color : #cc2c8c; padding : 5px 0 15px 3px; } 
/*
아래 fail_text, fail_text_02, succ_text가 한세트.
3개 중 2개만 display : none; 하나는 visibility : hidden; 으로 해야
공간 차지한 상태로 글자만 안 보임
*/

.agree_wrap .agree_main .input_form .id_warning_text .succ_text { color : #009f59; } 
.agree_wrap .agree_main .input_form .pw_warning_text { visibility : hidden; } 
.agree_wrap .agree_main .input_form .birth_warning_text { visibility : hidden; } 
.agree_wrap .agree_main .input_form .num_warning_text { visibility : hidden; } 
.agree_wrap .agree_main .input_form .nn_warning_text { visibility : hidden; }
.agree_wrap .agree_main .input_form .join_btn { padding : 0; border : 0; background-color : #009f59; font-size : 16px; line-height : 18.75px; text-align : center; color : #fff; justify-content : center; margin-top : 51px; cursor : pointer; } 
.agree_wrap .agree_main .input_form .lock_icon { width : 24px; height : 24px; position : absolute; top : 289px; right : 12px; } 
.agree_wrap .agree_main .input_form .input_content_short { width : 241px; } 
.agree_wrap .agree_main .input_form .overlap_check_btn,
.agree_wrap .agree_main .input_form .certi_btn { width : 69px; height : 46px; border-radius : 5px; background-color : #b8b9b9; cursor : pointer; border : 0; font-size : 14px; line-height : 16.41px; text-align : center; color : #fff; } 
.agree_wrap .agree_main .input_form .certi_btn { background-color : #009f59; } 
/* 만 14세 미만인 경우 display : none 없애기 */
/*.agree_wrap .agree_main .teen_input_box { display : none; } */
/* 만 14세 미만인 경우 본인 휴대폰 번호 인증 버튼 없애기 */
.agree_wrap .agree_main .input_form .certi_btn_display { /* display : none; */ } 
.agree_wrap .agree_main .input_form .input_birth_box { display : flex; justify-content : space-between; } 
.agree_wrap .agree_main .input_form .input_content_birth { width : 101px; } 

.agree_wrap .agree_main .input_form .input_place_box { display : flex; justify-content : space-between; } 
.agree_wrap .agree_main .input_form .input_place_box .input_content_place { width : 150px; margin-bottom : 21px; } 
/* radio list */
.agree_wrap .agree_main .input_form .radio_form { width : 317px; display : flex; align-items : center; justify-content : space-between; padding : 3px 0 11px 0; } 
.agree_wrap .agree_main .input_form .radio_form_size { width : 290px; } 
.radio_form .radio_btn label { display : flex; align-items : center; font-size : 13px; font-weight : 500; line-height : 15.23px; color : #727272; } 
.radio_form .radio_btn label .radio_svg { width : 15px; height : 15px; } 
.radio_form .radio_btn input { display : none; } 
.radio_form .radio_btn input ~ label .radio_svg .radio_on { display : none; } 
.radio_form .radio_btn input ~ label .radio_svg .radio_off { display : block; } 
.radio_form .radio_btn input:checked ~ label .radio_svg .radio_on { display : block; } 
.radio_form .radio_btn input:checked ~ label .radio_svg .radio_off { display : none; }

.age_check_radio {
    display: flex;
    justify-content: space-around;
    width: 381px;
    padding: 0 0 69px 0;
}
.agree_wrap .agree_main .input_form .city_btn { font-size : 13px; font-weight : 500; line-height : 15.23px; color : #727272; } 
.agree_wrap .agree_main .input_form .content_guide { font-size : 11px; font-weight : 500; line-height : 12.89px; color : #009f59; margin : 22px 0 6px 3px; } 
/* 협회없어요 btn */
.agree_wrap .agree_main .input_form .assign_none { display : none; } 
/* 협회있어요 btn */
.agree_wrap .agree_main .input_form .assign_yes { /*display : none; */ } 
/* 협회있어요 - 모두 / 시 / 시군구 */
.agree_wrap .agree_main .input_form .assign_yes .all_select_place { /*display : none; */ } 
.agree_wrap .agree_main .input_form .assign_yes .si_display { /*display : none; */ } 
.agree_wrap .agree_main .input_form .assign_yes .si_gun_gu_display {/* display : none;*/ } 
.agree_wrap .agree_main .input_form .search_box { position : relative; cursor : pointer; } 
.agree_wrap .agree_main .input_form .search_icon { position : absolute; width : 20px; height : 20px; top : 13px; right : 15px; } 
.agree_wrap .agree_main .input_form .input_content_search { background-color : #fff; } 
.agree_wrap .agree_main .input_form .input_content_search::placeholder { font-weight : 700; color : #009f59; text-align : center; }

.login_com {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

    .login_com .pop_close_btn {
        width: 20px;
        height: 20px;
        align-self: flex-end;
        margin: 9px 9px 0 0;
        cursor: pointer;
    }

    .login_com .pop_logo {
        width: 153px;
        height: 78px;
        margin-top: 36px;
    }

    .login_com .pop_content,
    .login_com .pop_com_title,
    .login_com .pop_com_content {
        font-size: 14px;
        line-height: 20px;
        color: #009f59;
        padding: 33px 0 127px 0;
        text-align: center;
    }

    .login_com .pop_content {
        padding: 0;
        width: 165px;
        word-break: keep-all;
        padding-bottom: 45px;
    }

    .login_com .pop_com_title {
        padding: 19px 0 93px 0;
    }

    .login_com .pop_com_content {
        padding: 0;
        padding-bottom: 108px;
    }

    .login_com .pop_ok_com_btn {
        width: 183px;
        height: 46px;
        border-radius: 5px;
        background-color: #009f59;
        font-size: 14px;
        line-height: 16.41px;
        color: #fff;
        border: 0;
        cursor: pointer;
    }

/*---- pop up ----*/
.modal-dialog { max-width: none; position: absolute; top : 0; bottom : 0; left: 0; right: 0; margin: auto; } 
.pop_up_pass { width : 330px; height : 520px; position : fixed; top : 50%; left : 50%; transform : translate(-50%, -50%); background-color : #fff; display : flex; flex-direction : column; align-items : center; } 
.pop_up_pass .pop_close_btn { width : 20px; height : 20px; align-self : flex-end; margin : 9px 9px 0 0; cursor : pointer; } 
.pop_up_pass .pop_logo { width : 153px; height : 78px; margin-top : 36px; } 
.pop_up_pass .pop_title,
.pop_up_pass .pop_content,
.pop_up_pass .pop_com_title,
.pop_up_pass .pop_com_content { font-size : 14px; line-height : 20px; color : #009f59; padding : 33px 0 127px 0; text-align : center; } 
.pop_up_pass .pop_content { padding : 0; width : 165px; word-break : keep-all; padding-bottom : 45px; } 
.pop_up_pass .pop_com_title { padding : 19px 0 93px 0; } 
.pop_up_pass .pop_com_content { padding : 0; padding-bottom : 108px; } 
.pop_up_pass .pop_ok_btn,
.pop_up_pass .pop_ok_com_btn { width : 183px; height : 46px; border-radius : 5px; background-color : #8a51ff; font-size : 14px; line-height : 16.41px; color : #fff; border : 0; cursor : pointer; } 
.pop_up_pass .pop_ok_com_btn { background-color : #009f59; } 
/* 본인인증완료 */
.pop_up_pass .pop_title,
.pop_up_pass .pop_content,
.pop_up_pass .pop_ok_btn { } 
/* 가입완료 */
.pop_up_pass .pop_com_title,
.pop_up_pass .pop_com_content,
.pop_up_pass .pop_ok_com_btn { display : none; } 
/* pop_up_search */
.pop_up_search { width : 330px; height : 399px; position : fixed; top : 50%; left : 50%; transform : translate(-50%, -50%); background-color : #fff; display : flex; flex-direction : column; align-items : center; } 
.pop_up_search .pop_close_btn { width : 20px; height : 20px; align-self : flex-end; margin : 7px 5px 0 0; cursor : pointer; } 
.pop_up_search .pop_up_search_title { padding : 22px 0; font-size : 14px; line-height : 20px; color : #009f59; } 
.pop_up_search .pop_up_search_box,
.pop_up_search .pop_ok_btn { width : 266px; height : 46px; border : 1px solid #009f59; border-radius : 5px; padding-left : 12px; } 
.pop_up_search .pop_up_search_box { display : flex; align-items : center; justify-content : space-between; } 
.pop_up_search .pop_up_search_box .search_content { border : 0; cursor : pointer; } 
.pop_up_search .pop_up_search_box .search_content:focus { outline : none; } 
.pop_up_search .pop_up_search_box .search_btn_box { display : flex; align-items : center; justify-content : space-around; } 
.pop_up_search .pop_up_search_box .search_btn_box .green_bg { width : 45px; height : 46px; border-radius : 0 5px 5px 0; background-color : #009f59; display : flex; align-items : center; justify-content : center; margin-left : 13px; cursor : pointer; } 
.pop_up_search .pop_up_search_box .search_btn_box .del_icon,
.pop_up_search .pop_up_search_box .search_btn_box .search_icon { width : 19px; height : 19px; cursor : pointer; } 
.pop_up_search .pop_up_search_box, .pop_up_search .pop_up_search_box .search_content::placeholder { font-size : 13px; font-weight : 500; line-height : 15.23px; color : #000; } 
.pop_up_search .pop_ok_btn { background-color : #009f59; font-size : 14px; line-height : 16.41px; color : #fff; border : 0; cursor : pointer; margin-top : 173px; } 
/* auto complete */
.pop_up_search .auto_complete { position : relative; } 
.pop_up_search .autocomplete_items { position : absolute; border : 1px solid #bfbfbf; border-radius : 5px; width : 266px; height : auto; top : 69px; left : 0; } 
.pop_up_search .autocomplete_items div { padding : 12px; cursor : pointer; font-size : 13px; font-weight : 500; line-height : 15.23px; color : #000; } 

/*---- pop up ----*/
/* id_pw_find page */
.pop_up_pw { width : 330px; height : 557px; position : fixed; top : 50%; left : 50%; transform : translate(-50%, -50%); background-color : #fff; display : flex; flex-direction : column; align-items : center; } 
.pop_up_pw .pop_close_btn { width : 20px; height : 20px; align-self : flex-end; margin : 7px 7px 0 0; cursor : pointer; } 
.pop_up_pw .pop_logo { width : 153px; height : 78px; margin-top : 38px; }
    .pop_up_pw .popup_page_mg {
        margin-top: 65px;
    }
.pop_up_pw .pop_title { font-size : 13px; line-height : 15.23px; color : #009f59; padding : 19px 0 14px 0; text-align : center; } 
.pop_up_pw .pw_change_box { display : flex; flex-direction : column; align-items : center; } 
.pop_up_pw .pw_change_box .pop_pw_title,
.pop_up_pw .pw_change_ok_box .pop_pw_ok_title { font-size : 14px; line-height : 20px; color : #009f59; padding-bottom : 54px; } 
.pop_up_pw .pw_change_box .input_title { width : 220px; font-size : 13px; line-height : 15.23px; color : #727272; padding : 0 0 3px 3px; text-align : left; } 
.pop_up_pw .pw_change_box .input_content { width : 220px; height : 46px; background-color : #fff; border-radius : 5px; border : 1px solid #009f59; padding : 14px 0 14px 8px; margin-bottom : 20px; } 
.pop_up_pw .pw_change_box .input_content::placeholder { font-size : 13px; font-weight : 500; line-height : 15.23px; color : #9f9f9f; } 
.pop_up_pw .pw_change_box .pop_next_btn,
.pop_up_pw .pw_change_ok_box .pop_ok_btn { width : 220px; height : 46px; background-color : #009f59; border : 0; border-radius : 5px; color : #fff; font-size : 14px; line-height : 16.41px; margin-top : 23px; text-align : center; padding : 15px 0; cursor : pointer; } 
.pop_up_pw .pw_change_ok_box { display : flex; flex-direction : column; align-items : center; display : none; } 
/*.pop_up_pw .pop_close_btn { visibility : hidden; } */
.pop_up_pw .pw_change_ok_box .pop_pw_ok_title { padding : 87px 0 132px 0; } 
.pop_up_pw .pw_change_ok_box .pop_ok_btn { margin : 0; }


.pop_up_pw .user_com_box {
    display : flex;
    flex-direction : column;
    align-items : center;
    padding-top : 87px;
}
.pop_up_pw .user_com_box .user_id_text {
    font-size : 15px;
    font-weight : 500;
    line-height : 25px;
    color : #333;
}
.pop_up_pw .user_com_box .user_id_text .user_id {
    font-weight : 700;
    color : #2c4a9a;
    text-decoration : underline;
    text-underline-position : under;
}
    .pop_up_pw .user_com_box .find_pw_btn {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #009f59;
        border: none;
        background: none;
        padding: 66px 0 16px 0;
        cursor: pointer;
    }
.pop_up_pw .user_com_box .pop_ok_btn {
    width : 220px;
    height : 46px;
    background-color : #009f59;
    border : 0;
    border-radius : 5px;
    color : #fff;
    font-size : 14px;
    line-height : 16.41px;
    text-align : center;
    padding : 15px 0;
    cursor : pointer;
}


/*---- login page ----*/
.login_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f7faf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
    /* header */
    .login_wrap .login_hd {
        width: 100%;
        height: 82px;
        background-color: #fff;
        padding: 18px 0 22.2px 27px;
    }

        .login_wrap .login_hd .main_logo .rk_logo {
            width: 82px;
            height: 42px;
        }

    .login_wrap .login_all_main {
        padding: 62px 0 57px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .login_wrap .login_all_main .rk_logo {
            width: 153px;
            height: 78px;
        }

        .login_wrap .login_all_main .login_title,
        .login_wrap .login_all_main .login {
            font-size: 12px;
            line-height: 14.06px;
            color: #009f59;
            text-align: center;
            padding-top: 9px;
        }
    /* login main */
    .login_wrap .login_main {
        display: flex;
        flex-direction: column;
        padding-bottom: 376px;
       
    }

        .login_wrap .login_main .login {
            font-size: 14px;
            line-height: 16.41px;
            padding: 5px 0 80px 0;
        }

        .login_wrap .login_main .login_id,
        .login_wrap .login_main .login_pw {
            font-size: 13px;
            line-height: 15.23px;
            color: #727272;
            padding-bottom: 3px;
        }

        .login_wrap .login_main .login_pw {
            padding-top: 16px;
        }

        .login_wrap .login_main .input_id,
        .login_wrap .login_main .input_pw,
        .login_wrap .login_main .login_btn {
            width: 317px;
            height: 46px;
            border: 1px solid #009f59;
            border-radius: 5px;
            padding: 16px 0 15px 10px;
            outline: none;
        }

        .login_wrap .login_main .login_btn {
            border: 0;
            padding: 0;
            text-align: center;
            background-color: #009f59;
            font-size: 16px;
            line-height: 18.75px;
            color: #fff;
            cursor: pointer;
            margin: 56px 0 8px 0;
        }

        .login_wrap .login_main .input_id::placeholder,
        .login_wrap .login_main .input_pw::placeholder {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.23px;
            color: #9f9f9f;
        }

        .login_wrap .login_main .find_box {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            line-height: 15.23px;
            text-align: center;
            color: #009f59;
        }

            .login_wrap .login_main .find_box .id_find,
            .login_wrap .login_main .find_box .pw_find,
            .login_wrap .login_main .find_box .join_member {
                cursor: pointer;
                font-weight: 500;
            }

            .login_wrap .login_main .find_box .pw_find {
                margin-right: 101px;
            }
    /* login com main */
    .login_wrap .login_com_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 72px 0 376px;
    }

        .login_wrap .login_com_main .login_com_img {
            width: 165px;
            height: 125px;
        }

        .login_wrap .login_com_main .login_com_content {
            width: 335px;
            word-break: keep-all;
            font-size: 18px;
            line-height: 25px;
            color: #7e7e7e;
            padding: 66.52px 0 33px 0;
        }

        .login_wrap .login_com_main .logout_btn {
            width: 313px;
            height: 46px;
            border: 1px solid #009f59;
            border-radius: 5px;
            outline: none;
            border: 0;
            text-align: center;
            background-color: #009f59;
            font-size: 16px;
            line-height: 18.75px;
            color: #fff;
            cursor: pointer;
            margin: 33px 0 81px 0;
        }

        .login_wrap .login_com_main .app_down {
            font-size: 18px;
            color: #7e7e7e;
            padding-bottom: 13px;
        }

        .login_wrap .login_com_main .down_box {
            display: flex;
        }

            .login_wrap .login_com_main .down_box .google_play,
            .login_wrap .login_com_main .down_box .app_store {
                width: 171px;
                height: 60px;
                border-radius: 5px;
                border: 1px solid #009f59;
                background-color: #fbf5dd;
                padding: 15px 14.63px 15px 16px;
                cursor: pointer;
            }

            .login_wrap .login_com_main .down_box .app_store {
                margin-left: 24px;
                padding: 12px 17.3px 16.02px 18px;
            }

            .login_wrap .login_com_main .down_box .google_play .google_icon {
                width: 141px;
                height: 30px;
            }

            .login_wrap .login_com_main .down_box .app_store .apple_icon {
                width: 136px;
                height: 32px;
            } 

/* id_pw_find */
.find_wrap { width : 100%; height : auto; margin : 0 auto; background-color : #f7faf9; display : flex; flex-direction : column; align-items : center; min-height : 100vh; position : relative; padding-bottom : 86px; } 
/* header */
.find_wrap .find_hd { width : 100%; height : 82px; background-color : #fff; padding : 18px 0 22.2px 27px; } 
.find_wrap .find_hd .main_logo .rk_logo { width : 82px; height : 42px; } 
.find_wrap .find_main .rk_logo { width : 153px; height : 78px; margin : 62px auto 9px auto; } 
.find_wrap .find_main .login_title { font-size : 12px; line-height : 14.06px; color : #009f59; text-align : center; padding-bottom : 35px; } 
/* login main */
.find_wrap .find_main { display : flex; flex-direction : column; padding-bottom : 111px; width : 381px; margin : 0 auto; }
    .find_wrap .find_main .id_pw_find_box {
        width: 381px;
        height: 60px;
        background-color: #fff;
        display: flex;
        margin-bottom: 56px;
        margin-left: 3.22px;
    }
    .find_wrap .find_main .id_pw_find_box .id_find_title,
    .find_wrap .find_main .id_pw_find_box .pw_find_title {
        border: 0;
        background-color: #fff;
        width: calc(100% / 2);
        height: 100%;
        font-size: 14px;
        line-height: 16.41px;
        color: #009f59;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
.find_wrap .find_main .id_pw_find_box .id_find_title { /*font-weight : 900; background-color : #fbf5dd; border-radius : 5px; */
 font-weight : 500; } 
.find_wrap .find_main .id_pw_find_box .pw_find_title { /*font-weight : 500; */
 font-weight : 900; background-color : #fbf5dd; border-radius : 5px; } 
/* pw 찾기 - id 입력 */
    .find_wrap .find_main .pw_display {
        padding: 0 0 41px 31.25px;
        position: relative;
    }
find_wrap .find_main .fail_text,
.find_wrap .find_main .fail_text_02,
.find_wrap .find_main .succ_text {
    font-size: 10px;
    line-height: 11.72px;
    color: #cc2c8c;
    padding: 5px 0 0 2px;
    position: absolute;
}
/* radio list */
.find_wrap .find_main .radio_margin { margin-bottom : 31px; }
    .find_wrap .find_main .radio_btn { margin-left : 3px; }
    .find_wrap .find_main .radio_btn label {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 15.23px;
        color: #727272;
    } 
.find_wrap .find_main .phone_radio label { word-break : keep-all; display : flex; align-items : flex-start; }
.find_wrap .find_main .radio_btn label .radio_svg { width : 15px; height : 15px; margin : -2px 4px 0 0; } 
.find_wrap .find_main .radio_btn input { display : none; } 
.find_wrap .find_main .radio_btn input ~ label .radio_svg .radio_on { display : none; } 
.find_wrap .find_main .radio_btn input ~ label .radio_svg .radio_off { display : block; } 
.find_wrap .find_main .radio_btn input:checked ~ label .radio_svg .radio_on { display : block; } 
.find_wrap .find_main .radio_btn input:checked ~ label .radio_svg .radio_off { display : none; }
    .find_wrap .find_main .padding_lf {
        padding-left: 35.72px;
    } 
.find_wrap .find_main .id_display { display : none; } 
.find_wrap .find_main .input_title { font-size : 13px; font-weight : 500; line-height : 15.23px; color : #727272; padding : 0 0 3px 3px; } 
.find_wrap .find_main .input_con_name { margin-bottom : 22px; } 
.find_wrap .find_main .input_con_num { margin : 14px 0 45px 0; position : relative; } 
.find_wrap .find_main .certi_num { padding : 26px 0 14px 22px; } 
.find_wrap .find_main .input_con_num .num_time { position : absolute; top : 52px; left : 2px; font-size : 12px; color : #f45873; }
.find_wrap .find_main .input_content,
.find_wrap .find_main .next_btn { width : 317px; height : 46px; border : 1px solid #009f59; border-radius : 5px; outline : none; padding-left : 10px; display : flex; align-items : center; } 
.find_wrap .find_main .next_btn { padding : 0; border : 0; background-color : #009f59; color : #fff; font-size : 16px; line-height : 18.75px; justify-content : center; cursor : pointer; } 
.find_wrap .find_main .input_content::placeholder { font-size : 13px; font-weight : 500; line-height : 15.23px; color : #9f9f9f; } 
.find_wrap .find_main .input_content_short { width : 220px; } 
.find_wrap .find_main .input_btn_box { width : 317px; display : flex; justify-content : space-between; } 
.find_wrap .find_main .certi_btn { width : 91px; height : 46px; border-radius : 5px; background-color : #009f59; cursor : pointer; border : 0; font-size : 14px; line-height : 16.41px; text-align : center; color : #fff; }
/*---- doubles_participation.html  ----*/
.doubles_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f7faf9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 86px;
}
    /* header */
    .doubles_wrap .doubles_hd {
        width: 100%;
        height: 82px;
        background-color: #fff;
        padding: 18px 0 22.2px 27px;
    }

        .doubles_wrap .doubles_hd .main_logo .rk_logo {
            width: 82px;
            height: 42px;
        }
    /* doubles main */
    .doubles_wrap .doubles_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 62px 0 200px 0;
    }

        .doubles_wrap .doubles_main .rk_logo {
            width: 153px;
            height: 78px;
        }

        .doubles_wrap .doubles_main .doubles_title {
            font-size: 12px;
            line-height: 14.06px;
            color: #009f59;
            text-align: center;
            padding-top: 9px;
            padding-bottom: 80px;
        }

        .doubles_wrap .doubles_main .doubles_notice_box {
            width: 317px;
            height: 102px;
            border-radius: 30px;
            background-color: #4ecdc4;
            position: relative;
            margin-bottom: 67px;
        }

            .doubles_wrap .doubles_main .doubles_notice_box .doubles_notice_text {
                font-size: 15.5px;
                font-weight: 700;
                line-height: 18.58px;
                color: #fff;
                text-align: center;
                word-break: keep-all;
                padding: 24px 0;
            }

            .doubles_wrap .doubles_main .doubles_notice_box .balloon_word_icon {
                width: 37px;
                height: 43px;
                position: absolute;
                top: 79px;
                left: 248px;
            }

        .doubles_wrap .doubles_main .login_id,
        .doubles_wrap .doubles_main .login_pw {
            font-size: 13px;
            line-height: 15.23px;
            color: #727272;
            padding-left: 4px;
            padding-bottom: 4px;
            width: 317px;
            text-align: left;
        }

        .doubles_wrap .doubles_main .login_pw {
            padding-top: 16px;
        }

        .doubles_wrap .doubles_main .input_id,
        .doubles_wrap .doubles_main .input_pw,
        .doubles_wrap .doubles_main .login_btn {
            width: 317px;
            height: 46px;
            border: 1px solid #009f59;
            border-radius: 5px;
            padding: 16px 0 15px 10px;
            outline: none;
        }

        .doubles_wrap .doubles_main .login_btn {
            border: 0;
            padding: 0;
            text-align: center;
            background-color: #009f59;
            font-size: 16px;
            line-height: 18.75px;
            color: #fff;
            cursor: pointer;
            margin: 56px 0 8px 0;
        }

        .doubles_wrap .doubles_main .input_id::placeholder,
        .doubles_wrap .doubles_main .input_pw::placeholder {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.23px;
            color: #9f9f9f;
        }

        .doubles_wrap .doubles_main .find_box {
            display: flex;
            justify-content: space-between;
            width: 317px;
            font-size: 13px;
            line-height: 15.23px;
            text-align: center;
            color: #009f59;
        }

            .doubles_wrap .doubles_main .find_box .id_find,
            .doubles_wrap .doubles_main .find_box .pw_find,
            .doubles_wrap .doubles_main .find_box .join_member {
                cursor: pointer;
                font-weight: 500;
            }

            .doubles_wrap .doubles_main .find_box .pw_find {
                margin-right: 101px;
            }

        .doubles_wrap .doubles_main .app_down {
            font-size: 18px;
            color: #7e7e7e;
            padding-top: 46px;
            padding-bottom: 13px;
        }

        .doubles_wrap .doubles_main .down_box {
            display: flex;
        }

            .doubles_wrap .doubles_main .down_box .google_play,
            .doubles_wrap .doubles_main .down_box .app_store {
                width: 171px;
                height: 60px;
                border-radius: 5px;
                border: 1px solid #009f59;
                background-color: #fbf5dd;
                padding: 15px 14.63px 15px 16px;
                cursor: pointer;
            }

            .doubles_wrap .doubles_main .down_box .app_store {
                margin-left: 24px;
                padding: 12px 17.3px 16.02px 18px;
            }

            .doubles_wrap .doubles_main .down_box .google_play .google_icon {
                width: 141px;
                height: 30px;
            }

            .doubles_wrap .doubles_main .down_box .app_store .apple_icon {
                width: 136px;
                height: 32px;
            }

/* doubles_participation.html popup */
.popup_doubles {
    width: 330px;
    height: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .popup_doubles .popup_close_btn {
        border: 0;
        background: none;
        align-self: flex-end;
        margin: 9px 9px 0 0;
    }

        .popup_doubles .popup_close_btn .popup_close_icon {
            width: 20px;
            height: 20px;
        }

    .popup_doubles .pop_logo {
        width: 153px;
        height: 78px;
        margin-top: 39px;
    }

    .popup_doubles .logo_title,
    .popup_doubles .doubles_content {
        font-size: 13px;
        font-weight: 700;
        line-height: 15.23px;
        color: #009f59;
        text-align: center;
    }

    .popup_doubles .logo_title {
        padding: 19px 0 59px 0;
    }

    .popup_doubles .doubles_content {
        font-size: 12px;
        line-height: 14.06px;
    }

    .popup_doubles .doubles_participant_box {
        padding: 36px 0 62px 0;
        font-size: 13px;
        font-weight: 700;
        line-height: 15.23px;
        color: #727272;
        text-align: center;
    }

        .popup_doubles .doubles_participant_box .doubles_participant_title {
            padding-bottom: 20px;
        }

    .popup_doubles .pop_ok_btn {
        width: 266px;
        height: 46px;
        border: 1px solid #009f59;
        border-radius: 5px;
        background-color: #009f59;
        font-size: 14px;
        font-weight: 700;
        line-height: 45px;
        color: #fff;
    }



@media (min-width:942px) and (max-width:1440px){
 .rk_wrap .rk_hd { max-width : 100vw; height : 5.694vw; padding : 4.097vw 0 0.217vw 3.472vw; } 
 .rk_wrap .rk_hd .rk_icon { width : 2.5vw; height : 1.389vw; } 
 .rk_wrap .rk_main { max-width : 100vw; display : flex; flex-direction : column; margin : 0 auto; } 
 .rk_wrap .rk_main .roacket_page { height : 33.264vw; background-color : #fff; display : flex; } 
 .rk_wrap .rk_main .roacket_page .rk_page_left { width : 9.444vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center { width : 67.847vw; margin : 0 0.625vw; position : relative; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right { width : 21.458vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_left .left_up,
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_up,
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up { height : 20.347vw; background-color : #2e9e21; } 
 .rk_wrap .rk_main .roacket_page .rk_page_left .left_up { text-align : center; padding-top : 0.764vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_left .left_up .roacket_logo { width : 5.764vw; height : 0.833vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_up { padding : 15.694vw 0 0.764vw 2.014vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_up .center_up_title { font-size : 3.333vw; line-height : 3.906vw; color : #fff; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up { background-color : #fff; } 
 .rk_wrap .rk_main .roacket_page .rk_page_left .left_down,
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_down,
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_down { height : 12.292vw; background-color : #2e9e21; margin-top : 0.625vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up { display : flex; flex-direction : column; padding : 3.333vw 0 0 1.25vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_down { padding : 7.361vw 0 1.042vw 1.458vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_down .center_down_title { width : 13.125vw; word-break : keep-all; font-size : 1.667vw; line-height : 1.953vw; color : #fff; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .st_icon { position : absolute; top : 6.111vw; left : 40.347vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .bad_icon { position : absolute; top : 9.992vw; left : 34.514vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_logo { width : 10.625vw; height : 5.417vw; margin-left : 3.472vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_login_title { font-size : 0.833vw; line-height : 0.976vw; color : #009f59; padding : 0.833vw 0 3.125vw 5.347vw; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .rk_login_btn { width : 18.056vw; height : 3.194vw; background-color : #f2b41b; display : flex; align-items : center; justify-content : center; border-radius : 0.347vw; font-size : 1.111vw; line-height : 1.302vw; color : #fff; border : 0; cursor : pointer; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box { width : 18.056vw; padding-top : 1.25vw; display : flex; justify-content : space-between; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box .id_pw_find_box { font-size : 0.903vw; line-height : 1.058vw; color : #4c4c4c; } 
 .rk_wrap .rk_main .roacket_page .rk_page_right .right_up .login_find_box .join_member { font-size : 0.972vw; line-height : 1.14vw; color : #009f59; } 
 .rk_wrap .rk_main .others_page { display : flex; justify-content : space-between; padding : 0.694vw 0 1.875vw 0; } 
 .rk_wrap .rk_main .others_page .chil_ten { width : 36.458vw; height : 27.292vw; background-color : #fff; } 
 .rk_wrap .rk_main .others_page .game_one { width : 40.833vw; height : 27.292vw; background-color : #fff; } 
 .rk_wrap .rk_main .others_page .one_shop { width : 21.458vw; height : 27.292vw; background-color : #fff; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text,
 .rk_wrap .rk_main .others_page .game_one .game_one_text { height : 3.403vw; display : flex; align-items : center; justify-content : space-between; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_title,
 .rk_wrap .rk_main .others_page .game_one .game_one_text .game_title { font-size : 0.903vw; line-height : 1.058vw; color : #2c4a9a; padding-left : 0.486vw; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_icon { width : 4.028vw; height : 2.431vw; margin-right : 0.54vw; } 
 .rk_wrap .rk_main .others_page .game_one .game_one_text .game_icon { width : 6.944vw; height : 1.528vw; margin-right : 2.133vw; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_img { width : 36.458vw; height : 23.889vw; } 
 .rk_wrap .rk_main .others_page .game_one .game_one_img { width : 40.833vw; height : 23.819vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_img { width : 21.458vw; height : 13.75vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text { height : 13.75vw; background-color : #fbf5dc; display : flex; flex-direction : column; padding : 3.403vw 3.681vw 3.333vw 2.986vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn,
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { width : 14.792vw; height : 2.778vw; border-radius : 0.347vw; font-size : 0.903vw; line-height : 1.058vw; display : flex; align-items : center; border : 0; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { padding : 0 1.111vw 0 1.181vw; margin-top : 1.458vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn .bad_logo { width : 1.597vw; height : 2.222vw; margin : 0 0.347vw 0 1.181vw; } 
 .rk_footer .footer_min_size { width : 65.972vw; } 
 }

@media (max-width:1174px){
 .rk_wrap .rk_main .roacket_page .rk_page_center .st_icon,
 .rk_wrap .rk_main .roacket_page .rk_page_center .bad_icon { display : none; } 
 }

@media (max-width:942px){
 .rk_wrap .rk_main .others_page { display : flex; flex-direction : column; } 
 .rk_wrap .rk_main .others_page .chil_ten { width : 95.541vw; height : 41.72vw; margin : 0.743vw auto 2.123vw auto; } 
 .rk_wrap .rk_main .others_page .game_one { width : 95.541vw; height : 41.72vw; margin : 0 auto 2.123vw auto; display : flex; } 
 .rk_wrap .rk_main .others_page .chil_ten > a,
 .rk_wrap .rk_main .others_page .game_one > a { display : flex; flex-direction : row-reverse; } 
 .rk_wrap .rk_main .others_page .one_shop { width : 95.541vw; height : 27.495vw; margin : 0 auto; display : flex; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text,
 .rk_wrap .rk_main .others_page .game_one .game_one_text { width : 37.155vw; height : 41.72vw; display : flex; flex-direction : column-reverse; align-items : center; justify-content : center; padding : 0 2.123vw; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_title,
 .rk_wrap .rk_main .others_page .game_one .game_one_text .game_title { font-size : 2.123vw; line-height : 2.919vw; padding-left : 0.743vw; text-align : center; padding-top : 5.308vw; } 
 .rk_wrap .rk_main .others_page .game_one .game_one_text .game_title { color : #4c4c4c; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_text .chil_icon { width : 12.739vw; height : 7.643vw; margin : 0 auto; } 
 .rk_wrap .rk_main .others_page .game_one .game_one_text .game_icon { width : 19.108vw; height : 4.246vw; margin : 0 auto; } 
 .rk_wrap .rk_main .others_page .chil_ten .chil_ten_img { width : 58.386vw; height : 41.72vw; } 
 .rk_wrap .rk_main .others_page .game_one .game_one_img { width : 58.386vw; height : 41.72vw; background-position : left; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_img { width : 47.771vw; height : 27.495vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text { width : 47.771vw; height : 27.495vw; display : flex; flex-direction : column; align-items : center; justify-content : center; } 

 .rk_footer .footer_min_size { display : flex; flex-direction : column; align-items : flex-start; }
    .rk_wrap .rk_main .roacket_page .rk_page_right {
        margin-right: 5px;
    }
 }

@media (max-width:880px){
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_up .center_up_title { line-height : 70px; } 
 }

@media (max-width:720px){
 .rk_wrap .rk_main .roacket_page .rk_page_left { display : none; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_up .center_up_title { display : none; } 
 .rk_wrap .rk_main .roacket_page .rk_page_center .center_down .center_down_title { width : 26.25vw; font-size : 3.333vw; line-height : 3.907vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn,
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { width : 29.583vw; height : 5.556vw; min-height : 30px; border-radius : 0.694vw; font-size : 1.806vw; line-height : 2.115vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .go_select { padding : 0 2.222vw 0 2.361vw; margin-top : 2.917vw; } 
 .rk_wrap .rk_main .others_page .one_shop .one_shop_text .bad_go_btn .bad_logo { width : 3.194vw; height : 4.444vw; margin : 0 1.806vw 0 2.361vw; } 

 .rk_footer { height : 11.944vw; font-size : 1.667vw; line-height : 1.953vw; padding : 0 8.526vw 0 7.222vw; } 
 .rk_footer .footer_content .use_and_info { width : 24.167vw; } 
 .rk_footer .footer_content .address_box { width : 55.694vw; padding-top : 0.833vw; } 
 .rk_footer .footer_content .address_box .statnco_num { width : 47.222vw; } 
 .rk_footer .footer_logo { width : 21.667vw; height : 3.056vw; } 
 }

@media (max-width:550px){
 .rk_footer .footer_content .address_box { width : 69.091vw; padding-top : 1.091vw; } 
 .rk_footer .footer_content .address_box .statnco_num { width : 61.818vw; padding-bottom : 0.182vw; } 
 .rk_footer .footer_logo { display : none; }
    .rk_wrap .rk_main .roacket_page .rk_page_center .center_down_title {
        display: none;
    }
 }