﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="passSuccess4.aspx.cs" Inherits="Statnco.Web.Main.pass.passSuccess4" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/passSucc4.js"></script>
    

</head>
<body>
    <form id="form1" runat="server">
           <section class="pop_up_pass">
      <%--  <svg class="pop_close_btn" viewBox="0 0 20 20" fill="none">
            <path d="M4.3999 4.39999L15.5999 15.6" stroke="#707070" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.5999 4.39999L4.3999 15.6" stroke="#707070" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>--%>
        <svg class="pop_logo" viewBox="0 0 153 78" fill="none">
            <g clip-path="url(#clip0_114_67)">
            <path d="M77.9951 0V7.75613H99.5604L101.854 10.8507H77.9951V18.599H101.713L109.783 29.5986L109.697 0H77.9951Z" fill="#009F59"/>
            <path d="M43.2168 0V7.75613H64.7664L67.1147 10.9291H43.2168V29.7005H69.4787L74.9111 37.0806V21.9522H53.4867L51.0445 18.6852H74.9111V0H43.2168Z" fill="#009F59"/>
            <path d="M13.8002 63.4592H0V57.6461H13.8002C15.5337 57.619 17.2069 58.2824 18.4518 59.4901C19.6966 60.6978 20.4111 62.351 20.4381 64.086C20.4651 65.821 19.8023 67.4956 18.5957 68.7416C17.389 69.9875 15.7372 70.7026 14.0037 70.7296L21.26 78H13.0722L5.80814 70.7296V78H0V64.9164H13.8002C13.9933 64.9164 14.1785 64.8397 14.315 64.703C14.4515 64.5664 14.5282 64.3811 14.5282 64.1878C14.5282 63.9946 14.4515 63.8093 14.315 63.6726C14.1785 63.536 13.9933 63.4592 13.8002 63.4592Z" fill="#009F59"/>
            <path d="M32.3126 78C29.9582 78.0009 27.6765 77.1847 25.856 75.6904C24.0356 74.1962 22.7891 72.1165 22.329 69.8055C21.8689 67.4946 22.2237 65.0955 23.3328 63.017C24.442 60.9386 26.2369 59.3093 28.4117 58.4069C30.5865 57.5044 33.0067 57.3847 35.2598 58.068C37.513 58.7514 39.4597 60.1955 40.7682 62.1544C42.0768 64.1132 42.6662 66.4656 42.4361 68.8107C42.206 71.1558 41.1705 73.3484 39.5062 75.0151C38.5749 75.9786 37.4559 76.7406 36.2186 77.254C34.9813 77.7674 33.6518 78.0213 32.3126 78ZM32.3126 72.179C33.3216 72.1803 34.2998 71.8313 35.0805 71.1915C35.8612 70.5516 36.396 69.6606 36.5937 68.6703C36.7914 67.68 36.6398 66.6517 36.1648 65.7607C35.6897 64.8697 34.9206 64.1712 33.9886 63.7843C33.0565 63.3974 32.0193 63.3461 31.0536 63.639C30.088 63.9319 29.2537 64.5509 28.6931 65.3906C28.1325 66.2303 27.8802 67.2386 27.9792 68.2436C28.0783 69.2486 28.5225 70.1881 29.2363 70.902C29.6348 71.3137 30.1133 71.6394 30.6424 71.8591C31.1715 72.0787 31.7399 72.1876 32.3126 72.179Z" fill="#009F59"/>
            <path d="M58.6214 78L53.2047 68.5986L47.7879 78H41.0718L53.2047 56.9801L65.3298 78H58.6214Z" fill="#009F59"/>
            <path d="M78.3474 68.5516H84.1868C84.001 71.1164 82.8528 73.516 80.9725 75.2685C79.0923 77.0211 76.6193 77.9968 74.05 78C72.0675 78.0027 70.1273 77.4257 68.468 76.3399C66.8086 75.2541 65.5023 73.7068 64.7095 71.8881C63.9166 70.0695 63.6719 68.0586 64.0053 66.1026C64.3386 64.1467 65.2356 62.3307 66.5859 60.878C67.9363 59.4252 69.6813 58.3989 71.6064 57.925C73.5316 57.4512 75.5531 57.5506 77.4226 58.2109C79.2922 58.8712 80.9283 60.0637 82.13 61.6418C83.3316 63.22 84.0465 65.1152 84.1868 67.0944H78.3474C78.2088 66.1982 77.7797 65.3724 77.1263 64.7441C76.7218 64.3398 76.2416 64.0191 75.7133 63.8005C75.185 63.5819 74.6189 63.4695 74.0472 63.4699C73.4755 63.4703 72.9095 63.5833 72.3815 63.8026C71.8535 64.0219 71.3738 64.3432 70.9698 64.748C70.5658 65.1529 70.2454 65.6334 70.027 66.1621C69.8086 66.6909 69.6963 67.2576 69.6967 67.8297C69.6971 68.4019 69.81 68.9684 70.0291 69.4969C70.2482 70.0254 70.5692 70.5055 70.9737 70.9098C71.3773 71.3149 71.8567 71.6363 72.3846 71.8556C72.9125 72.0748 73.4784 72.1877 74.05 72.1877C74.6215 72.1877 75.1874 72.0748 75.7153 71.8556C76.2432 71.6363 76.7227 71.3149 77.1263 70.9098C77.7827 70.2805 78.2121 69.4512 78.3474 68.5516Z" fill="#009F59"/>
            <path d="M92.4761 70.7296V78H86.668V57.6304H92.4761V64.9008L99.7402 57.6304H107.928L97.752 67.8152L107.928 78H99.7402L92.4761 70.7296Z" fill="#009F59"/>
            <path d="M129.76 63.4592H109.408V57.6461H129.76V63.4592ZM129.76 70.7296H109.408V64.9164H129.76V70.7296ZM129.76 78H109.408V72.179H129.76V78Z" fill="#009F59"/>
            <path d="M145.736 63.4592V78H139.928V63.4592H132.664V57.6461H153.016V63.4592H145.736Z" fill="#009F59"/>
            </g>
            <g clip-path="url(#clip1_114_67)">
            <path d="M77.9951 0V7.75613H99.5604L101.854 10.8507H77.9951V18.599H101.713L109.783 29.5986L109.697 0H77.9951Z" fill="#009F59"/>
            <path d="M43.2168 0V7.75613H64.7664L67.1147 10.9291H43.2168V29.7005H69.4787L74.9111 37.0806V21.9522H53.4867L51.0445 18.6852H74.9111V0H43.2168Z" fill="#009F59"/>
            <path d="M13.8002 63.4592H0V57.6461H13.8002C15.5337 57.619 17.2069 58.2824 18.4518 59.4901C19.6966 60.6978 20.4111 62.351 20.4381 64.086C20.4651 65.821 19.8023 67.4956 18.5957 68.7416C17.389 69.9875 15.7372 70.7026 14.0037 70.7296L21.26 78H13.0722L5.80814 70.7296V78H0V64.9164H13.8002C13.9933 64.9164 14.1785 64.8397 14.315 64.703C14.4515 64.5664 14.5282 64.3811 14.5282 64.1878C14.5282 63.9946 14.4515 63.8093 14.315 63.6726C14.1785 63.536 13.9933 63.4592 13.8002 63.4592Z" fill="#009F59"/>
            <path d="M32.3126 78C29.9582 78.0009 27.6765 77.1847 25.856 75.6904C24.0356 74.1962 22.7891 72.1165 22.329 69.8055C21.8689 67.4946 22.2237 65.0955 23.3328 63.017C24.442 60.9386 26.2369 59.3093 28.4117 58.4069C30.5865 57.5044 33.0067 57.3847 35.2598 58.068C37.513 58.7514 39.4597 60.1955 40.7682 62.1544C42.0768 64.1132 42.6662 66.4656 42.4361 68.8107C42.206 71.1558 41.1705 73.3484 39.5062 75.0151C38.5749 75.9786 37.4559 76.7406 36.2186 77.254C34.9813 77.7674 33.6518 78.0213 32.3126 78ZM32.3126 72.179C33.3216 72.1803 34.2998 71.8313 35.0805 71.1915C35.8612 70.5516 36.396 69.6606 36.5937 68.6703C36.7914 67.68 36.6398 66.6517 36.1648 65.7607C35.6897 64.8697 34.9206 64.1712 33.9886 63.7843C33.0565 63.3974 32.0193 63.3461 31.0536 63.639C30.088 63.9319 29.2537 64.5509 28.6931 65.3906C28.1325 66.2303 27.8802 67.2386 27.9792 68.2436C28.0783 69.2486 28.5225 70.1881 29.2363 70.902C29.6348 71.3137 30.1133 71.6394 30.6424 71.8591C31.1715 72.0787 31.7399 72.1876 32.3126 72.179Z" fill="#009F59"/>
            <path d="M58.6214 78L53.2047 68.5986L47.7879 78H41.0718L53.2047 56.9801L65.3298 78H58.6214Z" fill="#009F59"/>
            <path d="M78.3474 68.5516H84.1868C84.001 71.1164 82.8528 73.516 80.9725 75.2685C79.0923 77.0211 76.6193 77.9968 74.05 78C72.0675 78.0027 70.1273 77.4257 68.468 76.3399C66.8086 75.2541 65.5023 73.7068 64.7095 71.8881C63.9166 70.0695 63.6719 68.0586 64.0053 66.1026C64.3386 64.1467 65.2356 62.3307 66.5859 60.878C67.9363 59.4252 69.6813 58.3989 71.6064 57.925C73.5316 57.4512 75.5531 57.5506 77.4226 58.2109C79.2922 58.8712 80.9283 60.0637 82.13 61.6418C83.3316 63.22 84.0465 65.1152 84.1868 67.0944H78.3474C78.2088 66.1982 77.7797 65.3724 77.1263 64.7441C76.7218 64.3398 76.2416 64.0191 75.7133 63.8005C75.185 63.5819 74.6189 63.4695 74.0472 63.4699C73.4755 63.4703 72.9095 63.5833 72.3815 63.8026C71.8535 64.0219 71.3738 64.3432 70.9698 64.748C70.5658 65.1529 70.2454 65.6334 70.027 66.1621C69.8086 66.6909 69.6963 67.2576 69.6967 67.8297C69.6971 68.4019 69.81 68.9684 70.0291 69.4969C70.2482 70.0254 70.5692 70.5055 70.9737 70.9098C71.3773 71.3149 71.8567 71.6363 72.3846 71.8556C72.9125 72.0748 73.4784 72.1877 74.05 72.1877C74.6215 72.1877 75.1874 72.0748 75.7153 71.8556C76.2432 71.6363 76.7227 71.3149 77.1263 70.9098C77.7827 70.2805 78.2121 69.4512 78.3474 68.5516Z" fill="#009F59"/>
            <path d="M92.4761 70.7296V78H86.668V57.6304H92.4761V64.9008L99.7402 57.6304H107.928L97.752 67.8152L107.928 78H99.7402L92.4761 70.7296Z" fill="#009F59"/>
            <path d="M129.76 63.4592H109.408V57.6461H129.76V63.4592ZM129.76 70.7296H109.408V64.9164H129.76V70.7296ZM129.76 78H109.408V72.179H129.76V78Z" fill="#009F59"/>
            <path d="M145.736 63.4592V78H139.928V63.4592H132.664V57.6461H153.016V63.4592H145.736Z" fill="#009F59"/>
            </g>
        </svg>
        <p class="pop_title">본인인증 성공</p>
        <p class="pop_content">하단의 확인 버튼을 눌러 PASS 인증을 완료해 주세요!</p>


         <input type ="button" class="pop_ok_btn" value="확인" onclick="exit();"/>
        <asp:HiddenField ID="hidName" runat="server" />
        <asp:HiddenField ID="hidBirth" runat="server" />
        <asp:HiddenField ID="hidGender" runat="server" />
        <asp:HiddenField ID="hidDI" runat="server" />
        <asp:HiddenField ID="hidPhone" runat="server" />
    </form>
</body>
</html>